<div class="col-6">
<section >
    <div class="gap no-gap blackish low-opacity z0">
        <div class="eror">
            <div class="bg-image" style="background-image:url(./assets/sar/images/resources/theme-bg2.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="error-page">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <div class="big-font">
                                        <span>Block</span>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-9">
                                    <div class="error-meta">
                                        <div>
                                            <a href="#" title=""><img src="images/logo.png" alt=""></a>
                                            <h1>Sorry !</h1>
                                            <span>You have been blocked</span>
                                            <p>
                                                ohpps you can't see the content of this page !.
                                            </p>
                                            <a class="main-btn" href="timeline.html" title="" data-ripple="">Back Home</a>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>