.inputfield
{

    border: 1px solid #eaeaea;
    float: left;
    margin-bottom: 8px;
    padding: 13px 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 12px;
    margin:-20px;
    align-items: center;
    align-content: center ;
    margin-left:5px ;

}
.b:hover{
    background-color:rgb(250 99 66 / 99%);
        color: rgb(255, 255, 255);
        border-color: white;
    border-style:  solid ;
    border-width: 1px;
      }